/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 de jun de 2019, 16:20:48
    Author     : root
*/

.titulo1{
    background-color: black;
    height: 140px;
    border-bottom: 2px solid gold;
}
.menu-teste{
     border-bottom: 2px solid gold;
}
.tituloImagen{
    margin-top: 5px;
    margin-left: 0px; 
}

.tituloImagen{
  
}


.txt-titulo{
    color: gold;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    
}
.txt-titulo1{
    color: gold;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    
}
.conf-titulo{
    background-color: black;
}

.teste{
    background-color: black;
    text-align: center;
    height: 400px;
    width: 100%;
    padding-top: 10px;
}

.titulo2{
    color: gold;
    text-align: left;
    font-size: 20px;
    border-bottom: 2px solid gold;
}
body{
    background-color: black;
}
.blocos-produto{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
    border: 2px solid gold;
    border-radius: 20px;
    text-align: center;
}
blocos-produto:hover{
    cursor: pointer;
}
.txt-produto1{
    font-size: 15px;
    color:white;
    margin-top: 5px;
}
.txt-cusor{
    text-align: center;
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.txt-contato{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    font-size: 15px;
}